{% extends '::base.html.twig' %}

{% block body %}
    <h1>XSSAttack</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ xSSAttack.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ xSSAttack.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('xssattack_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('xssattack_edit', { 'id': xSSAttack.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
