{% extends 'base.html.twig' %}
{% import "@App/Forms/prototype-macro.html.twig" as explode %}
{% block body %}
    <h1>FuzzingUri creation #yo</h1>

    {{ form_start(form) }}

    {{ form_row(form.uri) }}
    {{ form_row(form.type) }}
    {{ form_row(form.http_method) }}
    {{ form_row(form.csrf) }}
    {{ form_label(form.http_target) }}
    {{ form_errors(form.http_target) }}
    <div id="http_params"
         data-prototype="{{ explode.widget_prototype(form.http_target, 'Remove tag')|escape }}">
        {% for field in form.http_target.children %}
            {{ explode.widget_prototype(field, 'Remove tag') }}
        {% endfor %}

    </div>

    <a class="btn-add" data-target="http_params">Add tag</a>


    <script>
        /*Important : keep this script synced with
         * the code in the "edit" page !*/

        var httpParamsCount = {{ form.http_target|length }};
        var httpParam = document.getElementById('http_params');

        var httpParamId = new RegExp('{{ form.http_target.vars.prototype.vars.name }}', 'g');

        var model = httpParam.dataset.prototype;

        var btnsAdd = document.querySelectorAll('.btn-add');
        var btnsRemove = document.querySelectorAll('.btn-remove');

        for (var i = 0; i < btnsAdd.length; i++) {
            btnsAdd[i].addEventListener('click', appendRow);
        }
        for (i = 0; i < btnsRemove.length; i++) {
            btnsRemove[i].addEventListener('click', removeRow);
        }

        function appendRow() {
            var newRow = document.createElement('div');
            httpParamsCount++;
            newRow.innerHTML = model.replace(httpParamId, httpParamsCount);
            httpParam.appendChild(newRow);

            return false;
        }

        function removeRow(e) {
            var name = e.target.dataset.related;
            var el = document.querySelector('*[data-content="' + name + '"]');
            el.parentNode.removeChild(el);

            httpParamsCount--;

            return false;
        }
    </script>

    <br/>

    {{ form_row(form.submit) }}


    {{ form_end(form) }}

    <br><br>

    <ul>
        <li>
            <a href="{{ path('fuzzinguri_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
